[Unit]
Description=Synchronize CoZ inventory every minute

[Timer]
OnBootSec=30s
OnUnitActiveSec=60s
AccuracySec=5s
Persistent=true
Unit=inventory-coz-sync.service

[Install]
WantedBy=timers.target
